body {
    font-family: 'Arial, sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #353333;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#player-choice, #computer-choice, #result {
    margin: 10px 0;
}

#play-again {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
